.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 60px 50px 40px;
    width: 100%;

    .change-card-data {
        display: flex;
        background: white;
        border: 1px solid #c7c7c7;
        border-radius: 15px;
        margin: 10px 0;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .top-cards {
        display: flex;
        gap: 10px;

        & > * {
            flex: 1;
        }
    }

    .middle-dashboard {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }
}