.container {
    padding: 50px 60px 50px 40px;


    .change-card-data {
        background: white;
        border: 1px solid #c7c7c7;
        border-radius: 15px;
        margin: 10px 0;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .top-cards {
        display: flex;
        gap: 10px;

        & > * {
            flex: 1;
        }
    }
}