.notification-bell {
    display: flex;
    align-items: center;
    position: relative;
    color: black;

    &__dot {
        position: absolute;
        right: 2px;
        top: 2px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background: red;
    }
}