.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: pink;
    padding: 10px 15px;

    .percent {
        background: #fafafa;
        text-align: center;
        border-radius: 6px;
        border: 1px solid lightgrey;
        font-size: .8em;
        padding: 2px;
        max-width: 6ch;
    }
}