.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: pink;
    padding: 15px;
    min-height: 150px;

    .title {
        color: white;
    }

    .value {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    .percent {
        background: #fafafa;
        text-align: center;
        border-radius: 10px;
        border: 1px solid lightgrey;
        font-size: .8em;
        padding: 2px;
        max-width: 7ch;
    }
}